# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.db
*.sqlite3

# Ignore test files
app/tests/

# Ignore local environment files
.vscode/
.idea/
*.swp

# Ignore Python virtual environments
venv/
.env/

# Ignore macOS specific files
.DS_Store
